body {
    background-color: red;
}

#a {
    color: blue;
}

#b {
    color: blueviolet;
}

#c {
    color: gold;
}

#d {
    color: yellow;
}

#e {
    color: brown;
}

#f {
    color: aqua;
}

#g {
    color: aquamarine;
}

#h {
    color: ghostwhite;
}

#i {
    color: #222;
}

#j {
    color: greenyellow;
}

#k {
    color: blueviolet;
}

#l {
    color: greenyellow;
}

#m {
    color: yellowgreen;
}

#n {
    color: goldenrod;
}

#o {
    color:  bisque;
}