*{
    margin:0px;
    padding:0px;
}

body{
    background-color: rgb(245, 255, 157);

}

header{
    height: 50px;
    background-color:rgb(210, 30, 60);
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}
a:hover{
    color: white;
}
main{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
img{
    width: 500px;
    height: 300px;
    margin-left: 200px;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
h1:hover{
    color: rgb(210, 30, 60);
}
p:hover{
    color: rgb(210, 30, 60);
}